*.iml
**/build/
local.properties
*.apk
*.jar
!**/gradle-wrapper.jar
*.zip
**/external/
**/dist/
*.aar
**/external/
.idea/
.gradle/


*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
